{% extends "base.html" %}

{% block content %}
<h1>Редактирование</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.year.label }}<br>
        {{ form.year(class="form-control") }}<br>
        {% for error in form.year.errors %}
    <p content="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.trailer.label }}<br>
        {{ form.trailer(class="form-control") }}<br>
        {% for error in form.trailer.errors %}
    <p content="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.movie_link.label }}<br>
        {{ form.movie_link(class="form-control") }}<br>
        {% for error in form.movie_link.errors %}
    <p content="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.description.label }}<br>
        {{ form.description(class="form-control") }}<br>
        {% for error in form.description.errors %}
    <p content="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}